*{
    padding: 0;
    margin: 0;
    border:none;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, Times, 'Times New Roman', serif ;
}
body{
    background-image: linear-gradient(to bottom right,rgb(134, 134, 236),rgb(220, 189, 220));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 80%;
    width: 65%;
    display: flex;
    box-shadow:-10px 10px 25px 10px rgb(0 0 0 / 70%);;
}
.text-input{
    width: 60%;
    background-color: #ffff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-input img{
    height: 100%;
}
.login-input{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
}
.login-input h3{
    font-size: 24px;
    font-weight: 700;
    color: rgb(193,94,185);
}
.login-input .input{
    width: 220px;
    height: 29px;
    border-radius: 10px;
    background-color: rgb(235,181,231);
    padding: 5px;
}
input:focus-visible{
    outline: none;
}
#icon-password{
    cursor: pointer;
}
.login-input .btn{
    width: 110px;
    height: 29px;
    border-radius: 10px;
    color: #ffff;
    background-image: linear-gradient(to bottom right,rgb(222, 133, 222),rgb(153, 153, 242));
    transition: all .3s ease-in;
    cursor: pointer;
}
.login-input .btn:hover{
    box-shadow:0 4px 8px 0 rgba(222, 133, 222, 0.7), 0 6px 20px 0 rgba(153, 153, 242, 0.19); 
    transform: scale(1.2);
}